@import "color";
@import "font";
@import "h_title";

body {
	margin          : 0;
	padding         : 0;
	color           : #131c16;
	background-color: #f2faff;
	font-family     : $gothic;
	font-size       : 1.1rem;
}

p {
	margin        : 8px 0;
	font-size     : 100%;
	letter-spacing: 0.06em;
}

/*----- サイトの全体レイアウト -----*/
// コンテンツ全体
#site-box {
	width           : 90%;
	margin          : 34px auto;
	padding         : 0;
	border          : 2px ridge #2c2d0b;
}

// フッターじゃない部分
#site-main {
	display: block;
	width  : auto;
	margin : 0;
	padding: 10px 8px 90px;
	background-color: #d1f4fa;
}

// フッター
#footer {
	clear           : both;
	width           : auto;
	margin          : 0;
	padding         : 5px 15px 1px;
	background-color: $navy;
	color           : $white;
	text-align      : right;

	a {
		padding: 2px;
		color  : $white;
	}
}

#content {
	margin: 10px 26px;
}

#output {
	img {
		width: 32px;
		height: 32px;
	}
}

.caution {
	margin-top     : 10px;
	color          : #7c061a;
	font-size      : 82%;
	text-align     : right;
	text-decoration: underline;
}
