@charset "UTF-8";
/* フォント */
.gothic {
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, sans-serif;
}

.mincho {
	font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "ＭＳ 明朝", "メイリオ", Meiryo, "Times New Roman", serif;
}

/* 回り込み解除 */
.clear {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0;
	visibility: hidden;
}

img {
	border: 0;
}

body {
	margin: 0;
	padding: 0;
	color: #131c16;
	background-color: #f2faff;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, sans-serif;
	font-size: 1.1rem;
}

p {
	margin: 8px 0;
	font-size: 100%;
	letter-spacing: 0.06em;
}

/*----- サイトの全体レイアウト -----*/
#site-box {
	width: 90%;
	margin: 34px auto;
	padding: 0;
	border: 2px ridge #2c2d0b;
}

#site-main {
	display: block;
	width: auto;
	margin: 0;
	padding: 10px 8px 90px;
	background-color: #d1f4fa;
}

#footer {
	clear: both;
	width: auto;
	margin: 0;
	padding: 5px 15px 1px;
	background-color: #2f2761;
	color: #ffffff;
	text-align: right;
}

#footer a {
	padding: 2px;
	color: #ffffff;
}

#content {
	margin: 10px 26px;
}

#output img {
	width: 40px;
	height: 40px;
}

.caution {
	margin-top: 10px;
	color: #7c061a;
	font-size: 82%;
	text-align: right;
	text-decoration: underline;
}

h1, h2, h3, h4 {
	margin: 25px 0;
	padding: 0 26px;
	color: #ff6d1b;
	letter-spacing: 0.08em;
	font-weight: bold;
}

h1 {
	font-size: 220%;
	border-bottom: dotted 6px;
}

h2 {
	font-size: 150%;
	border-bottom: dotted 4px;
}

h3 {
	font-size: 120%;
	border-bottom: double 2px;
}

h4 {
	font-size: 105%;
	border-bottom: solid 1px;
}

/*----- 以下、テキストの微変更用 -----*/
.small {
	font-size: 85%;
}

.moresmall {
	font-size: 60%;
}

.big {
	font-size: 120%;
}

.morebig {
	font-size: 150%;
}

.b {
	font-weight: bold;
}

.u {
	text-decoration: underline;
}

.torikesi {
	text-decoration: line-through;
}

/*----- 以下、文字カラー指定用のCSS -----*/
.red {
	color: #ff0000;
}

.navy {
	color: #191970;
}

.orange {
	color: #ff4500;
}

.green {
	color: #399003;
}

#drop_zone {
	padding: 25px;
	border: 2px dashed #bbb;
	border-radius: 5px;
	text-align: center;
	font: 20pt bold 'Vollkorn';
	color: #bbb;
}

#drop_zone_sub {
	padding: 25px;
	border: 2px dashed #bbb;
	border-radius: 5px;
	text-align: center;
	font: 20pt bold 'Vollkorn';
	color: #bbb;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInRvcC5jc3MiLCJfcmVndWxhcl9kZXNpZ24uc2NzcyIsInRvcC5zY3NzIiwiX2hfdGl0bGUuc2NzcyIsIl90ZXh0X2RlY29yYXRpb24uc2NzcyIsIl9jb2xvcnMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxpQkFBaUI7QUNBakIsVUFBQTtBQUtBO0NBQ0Msb0tBTHFKO0NBTXJKOztBQUNEO0NBQ0MsMEhBTm9IO0NBT3BIOztBQUVELFlBQUE7QUFDQTtDQUNDLFlBQWlCO0NBQ2pCLFVBQWM7Q0FDZCxlQUFnQjtDQUNoQixlQUFjO0NBQ2QsbUJBQW1CO0NBQ25COztBQUVEO0NBQ0MsVUFBUztDQUNUOztBQ1hEO0NBQ0MsVUFBbUI7Q0FDbkIsV0FBbUI7Q0FDbkIsZUFBeUI7Q0FDekIsMEJBQXlCO0NBQ3pCLG9LRGhCcUo7Q0NpQnJKLGtCQUF3QjtDQUN4Qjs7QUFFRDtDQUNDLGNBQXFCO0NBQ3JCLGdCQUFvQjtDQUNwQix1QkFBc0I7Q0FDdEI7O0FBRUQsMkJBQUE7QUFFQTtDQUNDLFdBQXFCO0NBQ3JCLGtCQUEyQjtDQUMzQixXQUFtQjtDQUNuQiwwQkFBbUM7Q0FDbkM7O0FBR0Q7Q0FDQyxlQUFjO0NBQ2QsWUFBYTtDQUNiLFVBQVU7Q0FDVix1QkFBc0I7Q0FDdEIsMEJBQXlCO0NBQ3pCOztBQUdEO0NBQ0MsWUFBc0I7Q0FDdEIsWUFBc0I7Q0FDdEIsVUFBbUI7Q0FDbkIsc0JBQThCO0NBQzlCLDBCQUF5QjtDQUN6QixlQUF5QjtDQUN6QixrQkFBdUI7Q0FNdkI7O0FBYkQ7Q0FVRSxhQUFZO0NBQ1osZUFBZ0I7Q0FDaEI7O0FBR0Y7Q0FDQyxrQkFBaUI7Q0FDakI7O0FBRUQ7Q0FFRSxZQUFXO0NBQ1gsYUFBWTtDQUNaOztBQUdGO0NBQ0MsaUJBQXFCO0NBQ3JCLGVBQXdCO0NBQ3hCLGVBQW9CO0NBQ3BCLGtCQUFzQjtDQUN0QiwyQkFBMEI7Q0FDMUI7O0FDOUVEO0NBQ0MsZUFBc0I7Q0FDdEIsZ0JBQXNCO0NBQ3RCLGVBQXVCO0NBQ3ZCLHVCQUFzQjtDQUN0QixrQkFBb0I7Q0FDcEI7O0FBRUQ7Q0FDQyxnQkFBbUI7Q0FDbkIsMEJBQXlCO0NBQ3pCOztBQUVEO0NBQ0MsZ0JBQW1CO0NBQ25CLDBCQUF5QjtDQUN6Qjs7QUFFRDtDQUNDLGdCQUFtQjtDQUNuQiwwQkFBeUI7Q0FDekI7O0FBRUQ7Q0FDQyxnQkFBbUI7Q0FDbkIseUJBQXdCO0NBQ3hCOztBQzFCRCw0QkFBQTtBQUNBO0NBQ0MsZUFBYztDQUNkOztBQUNEO0NBQ0MsZUFBYztDQUNkOztBQUNEO0NBQ0MsZ0JBQWU7Q0FDZjs7QUFDRDtDQUNDLGdCQUFlO0NBQ2Y7O0FBQ0Q7Q0FDQyxrQkFBaUI7Q0FDakI7O0FBQ0Q7Q0FDQywyQkFBMEI7Q0FDMUI7O0FBQ0Q7Q0FDQyw4QkFBNkI7Q0FDN0I7O0FDckJELCtCQUFBO0FBQ0E7Q0FDQyxlQUFjO0NBQ2Q7O0FBQ0Q7Q0FDQyxlQUFjO0NBQ2Q7O0FBQ0Q7Q0FDQyxlQUFjO0NBQ2Q7O0FBQ0Q7Q0FDQyxlQUFjO0NBQ2Q7O0FINEVEO0NBQ0MsY0FBYTtDQUNiLHdCQUF1QjtDQUN2QixtQkFBa0I7Q0FDbEIsbUJBQWtCO0NBQ2xCLDJCQUEwQjtDQUMxQixZQUFXO0NBQ1g7O0FBRUQ7Q0FDQyxjQUFhO0NBQ2Isd0JBQXVCO0NBQ3ZCLG1CQUFrQjtDQUNsQixtQkFBa0I7Q0FDbEIsMkJBQTBCO0NBQzFCLFlBQVc7Q0FDWCIsImZpbGUiOiJ0b3AuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGNoYXJzZXQgXCJVVEYtOFwiO1xuLyog44OV44Kp44Oz44OIICovXG4uZ290aGljIHtcblx0Zm9udC1mYW1pbHk6IFwi44OS44Op44Ku44OO6KeS44K0IFByb04gVzNcIiwgXCJIaXJhZ2lubyBLYWt1IEdvdGhpYyBQcm9OXCIsIFwi44Oh44Kk44Oq44KqXCIsIE1laXJ5bywgXCJIZWx2ZXRpY2EgTmV1ZVwiLCBIZWx2ZXRpY2EsIEFyaWFsLCBSb2JvdG8sIFwiRHJvaWQgU2Fuc1wiLCBcIua4uOOCtOOCt+ODg+OCr1wiLCBZdUdvdGhpYywgc2Fucy1zZXJpZjtcbn1cblxuLm1pbmNobyB7XG5cdGZvbnQtZmFtaWx5OiBcIuODkuODqeOCruODjuaYjuacnSBQcm9OIFczXCIsIFwiSGlyYWdpbm8gTWluY2hvIFByb05cIiwgXCLmuLjmmI7mnJ1cIiwgWXVNaW5jaG8sIFwi77yt77yzIOaYjuacnVwiLCBcIuODoeOCpOODquOCqlwiLCBNZWlyeW8sIFwiVGltZXMgTmV3IFJvbWFuXCIsIHNlcmlmO1xufVxuXG4vKiDlm57jgorovrzjgb/op6PpmaQgKi9cbi5jbGVhciB7XG5cdGNsZWFyOiBib3RoO1xuXHRoZWlnaHQ6IDA7XG5cdGZvbnQtc2l6ZTogMXB4O1xuXHRsaW5lLWhlaWdodDogMDtcblx0dmlzaWJpbGl0eTogaGlkZGVuO1xufVxuXG5pbWcge1xuXHRib3JkZXI6IDA7XG59XG5cbmJvZHkge1xuXHRtYXJnaW46IDA7XG5cdHBhZGRpbmc6IDA7XG5cdGNvbG9yOiAjMTMxYzE2O1xuXHRiYWNrZ3JvdW5kLWNvbG9yOiAjZjJmYWZmO1xuXHRmb250LWZhbWlseTogXCLjg5Ljg6njgq7jg47op5LjgrQgUHJvTiBXM1wiLCBcIkhpcmFnaW5vIEtha3UgR290aGljIFByb05cIiwgXCLjg6HjgqTjg6rjgqpcIiwgTWVpcnlvLCBcIkhlbHZldGljYSBOZXVlXCIsIEhlbHZldGljYSwgQXJpYWwsIFJvYm90bywgXCJEcm9pZCBTYW5zXCIsIFwi5ri444K044K344OD44KvXCIsIFl1R290aGljLCBzYW5zLXNlcmlmO1xuXHRmb250LXNpemU6IDEuMXJlbTtcbn1cblxucCB7XG5cdG1hcmdpbjogOHB4IDA7XG5cdGZvbnQtc2l6ZTogMTAwJTtcblx0bGV0dGVyLXNwYWNpbmc6IDAuMDZlbTtcbn1cblxuLyotLS0tLSDjgrXjgqTjg4jjga7lhajkvZPjg6zjgqTjgqLjgqbjg4ggLS0tLS0qL1xuI3NpdGUtYm94IHtcblx0d2lkdGg6IDkwJTtcblx0bWFyZ2luOiAzNHB4IGF1dG87XG5cdHBhZGRpbmc6IDA7XG5cdGJvcmRlcjogMnB4IHJpZGdlICMyYzJkMGI7XG59XG5cbiNzaXRlLW1haW4ge1xuXHRkaXNwbGF5OiBibG9jaztcblx0d2lkdGg6IGF1dG87XG5cdG1hcmdpbjogMDtcblx0cGFkZGluZzogMTBweCA4cHggOTBweDtcblx0YmFja2dyb3VuZC1jb2xvcjogI2QxZjRmYTtcbn1cblxuI2Zvb3RlciB7XG5cdGNsZWFyOiBib3RoO1xuXHR3aWR0aDogYXV0bztcblx0bWFyZ2luOiAwO1xuXHRwYWRkaW5nOiA1cHggMTVweCAxcHg7XG5cdGJhY2tncm91bmQtY29sb3I6ICMyZjI3NjE7XG5cdGNvbG9yOiAjZmZmZmZmO1xuXHR0ZXh0LWFsaWduOiByaWdodDtcbn1cblxuI2Zvb3RlciBhIHtcblx0cGFkZGluZzogMnB4O1xuXHRjb2xvcjogI2ZmZmZmZjtcbn1cblxuI2NvbnRlbnQge1xuXHRtYXJnaW46IDEwcHggMjZweDtcbn1cblxuI291dHB1dCBpbWcge1xuXHR3aWR0aDogNDBweDtcblx0aGVpZ2h0OiA0MHB4O1xufVxuXG4uY2F1dGlvbiB7XG5cdG1hcmdpbi10b3A6IDEwcHg7XG5cdGNvbG9yOiAjN2MwNjFhO1xuXHRmb250LXNpemU6IDgyJTtcblx0dGV4dC1hbGlnbjogcmlnaHQ7XG5cdHRleHQtZGVjb3JhdGlvbjogdW5kZXJsaW5lO1xufVxuXG5oMSwgaDIsIGgzLCBoNCB7XG5cdG1hcmdpbjogMjVweCAwO1xuXHRwYWRkaW5nOiAwIDI2cHg7XG5cdGNvbG9yOiAjZmY2ZDFiO1xuXHRsZXR0ZXItc3BhY2luZzogMC4wOGVtO1xuXHRmb250LXdlaWdodDogYm9sZDtcbn1cblxuaDEge1xuXHRmb250LXNpemU6IDIyMCU7XG5cdGJvcmRlci1ib3R0b206IGRvdHRlZCA2cHg7XG59XG5cbmgyIHtcblx0Zm9udC1zaXplOiAxNTAlO1xuXHRib3JkZXItYm90dG9tOiBkb3R0ZWQgNHB4O1xufVxuXG5oMyB7XG5cdGZvbnQtc2l6ZTogMTIwJTtcblx0Ym9yZGVyLWJvdHRvbTogZG91YmxlIDJweDtcbn1cblxuaDQge1xuXHRmb250LXNpemU6IDEwNSU7XG5cdGJvcmRlci1ib3R0b206IHNvbGlkIDFweDtcbn1cblxuLyotLS0tLSDku6XkuIvjgIHjg4bjgq3jgrnjg4jjga7lvq7lpInmm7TnlKggLS0tLS0qL1xuLnNtYWxsIHtcblx0Zm9udC1zaXplOiA4NSU7XG59XG5cbi5tb3Jlc21hbGwge1xuXHRmb250LXNpemU6IDYwJTtcbn1cblxuLmJpZyB7XG5cdGZvbnQtc2l6ZTogMTIwJTtcbn1cblxuLm1vcmViaWcge1xuXHRmb250LXNpemU6IDE1MCU7XG59XG5cbi5iIHtcblx0Zm9udC13ZWlnaHQ6IGJvbGQ7XG59XG5cbi51IHtcblx0dGV4dC1kZWNvcmF0aW9uOiB1bmRlcmxpbmU7XG59XG5cbi50b3Jpa2VzaSB7XG5cdHRleHQtZGVjb3JhdGlvbjogbGluZS10aHJvdWdoO1xufVxuXG4vKi0tLS0tIOS7peS4i+OAgeaWh+Wtl+OCq+ODqeODvOaMh+WumueUqOOBrkNTUyAtLS0tLSovXG4ucmVkIHtcblx0Y29sb3I6ICNmZjAwMDA7XG59XG5cbi5uYXZ5IHtcblx0Y29sb3I6ICMxOTE5NzA7XG59XG5cbi5vcmFuZ2Uge1xuXHRjb2xvcjogI2ZmNDUwMDtcbn1cblxuLmdyZWVuIHtcblx0Y29sb3I6ICMzOTkwMDM7XG59XG5cbiNkcm9wX3pvbmUge1xuXHRwYWRkaW5nOiAyNXB4O1xuXHRib3JkZXI6IDJweCBkYXNoZWQgI2JiYjtcblx0Ym9yZGVyLXJhZGl1czogNXB4O1xuXHR0ZXh0LWFsaWduOiBjZW50ZXI7XG5cdGZvbnQ6IDIwcHQgYm9sZCAnVm9sbGtvcm4nO1xuXHRjb2xvcjogI2JiYjtcbn1cblxuI2Ryb3Bfem9uZV9zdWIge1xuXHRwYWRkaW5nOiAyNXB4O1xuXHRib3JkZXI6IDJweCBkYXNoZWQgI2JiYjtcblx0Ym9yZGVyLXJhZGl1czogNXB4O1xuXHR0ZXh0LWFsaWduOiBjZW50ZXI7XG5cdGZvbnQ6IDIwcHQgYm9sZCAnVm9sbGtvcm4nO1xuXHRjb2xvcjogI2JiYjtcbn1cbiIsIi8qIOODleOCqeODs+ODiCAqL1xuJGdvdGhpYzogXCLjg5Ljg6njgq7jg47op5LjgrQgUHJvTiBXM1wiLCBcIkhpcmFnaW5vIEtha3UgR290aGljIFByb05cIiwgXCLjg6HjgqTjg6rjgqpcIiwgTWVpcnlvLCBcIkhlbHZldGljYSBOZXVlXCIsIEhlbHZldGljYSwgQXJpYWwsIFJvYm90bywgXCJEcm9pZCBTYW5zXCIsIFwi5ri444K044K344OD44KvXCIsIFl1R290aGljLCBzYW5zLXNlcmlmO1xuXG4kbWluY2hvOiBcIuODkuODqeOCruODjuaYjuacnSBQcm9OIFczXCIsIFwiSGlyYWdpbm8gTWluY2hvIFByb05cIiwgXCLmuLjmmI7mnJ1cIiwgWXVNaW5jaG8sIFwi77yt77yzIOaYjuacnVwiLCBcIuODoeOCpOODquOCqlwiLCBNZWlyeW8sIFwiVGltZXMgTmV3IFJvbWFuXCIsIHNlcmlmO1xuXG4uZ290aGljIHtcblx0Zm9udC1mYW1pbHk6ICRnb3RoaWM7XG59XG4ubWluY2hvIHtcblx0Zm9udC1mYW1pbHk6ICRtaW5jaG87XG59XG5cbi8qIOWbnuOCiui+vOOBv+ino+mZpCAqL1xuLmNsZWFyIHtcblx0Y2xlYXIgICAgICA6IGJvdGg7XG5cdGhlaWdodCAgICAgOiAwO1xuXHRmb250LXNpemUgIDogMXB4O1xuXHRsaW5lLWhlaWdodDogMDtcblx0dmlzaWJpbGl0eSA6IGhpZGRlbjtcbn1cblxuaW1nIHtcblx0Ym9yZGVyOiAwO1xufVxuIiwiJGJsdWUgICAgICAgOiAjMWM1MGFhO1xuJGRhcmstYmx1ZSAgOiAjMGEzNzU0O1xuJGdyZWVuICAgICAgOiAjMWZhYTFjO1xuJGRhcmstZ3JlZW4gOiAjMWQ3NzM3O1xuJHllbGxvdyAgICAgOiAjZDk4MzEwO1xuJGRhcmsteWVsbG93OiAjNjEzZDBkO1xuJHJlZCAgICAgICAgOiAjYmYzNDM0O1xuJGRhcmstcmVkICAgOiAjNGIxNzE3O1xuXG5AaW1wb3J0IFwicmVndWxhcl9kZXNpZ25cIjtcblxuXG5ib2R5IHtcblx0bWFyZ2luICAgICAgICAgIDogMDtcblx0cGFkZGluZyAgICAgICAgIDogMDtcblx0Y29sb3IgICAgICAgICAgIDogIzEzMWMxNjtcblx0YmFja2dyb3VuZC1jb2xvcjogI2YyZmFmZjtcblx0Zm9udC1mYW1pbHkgICAgIDogJGdvdGhpYztcblx0Zm9udC1zaXplICAgICAgIDogMS4xcmVtO1xufVxuXG5wIHtcblx0bWFyZ2luICAgICAgICA6IDhweCAwO1xuXHRmb250LXNpemUgICAgIDogMTAwJTtcblx0bGV0dGVyLXNwYWNpbmc6IDAuMDZlbTtcbn1cblxuLyotLS0tLSDjgrXjgqTjg4jjga7lhajkvZPjg6zjgqTjgqLjgqbjg4ggLS0tLS0qL1xuLy8g44Kz44Oz44OG44Oz44OE5YWo5L2TXG4jc2l0ZS1ib3gge1xuXHR3aWR0aCAgICAgICAgICAgOiA5MCU7XG5cdG1hcmdpbiAgICAgICAgICA6IDM0cHggYXV0bztcblx0cGFkZGluZyAgICAgICAgIDogMDtcblx0Ym9yZGVyICAgICAgICAgIDogMnB4IHJpZGdlICMyYzJkMGI7XG59XG5cbi8vIOODleODg+OCv+ODvOOBmOOCg+OBquOBhOmDqOWIhlxuI3NpdGUtbWFpbiB7XG5cdGRpc3BsYXk6IGJsb2NrO1xuXHR3aWR0aCAgOiBhdXRvO1xuXHRtYXJnaW4gOiAwO1xuXHRwYWRkaW5nOiAxMHB4IDhweCA5MHB4O1xuXHRiYWNrZ3JvdW5kLWNvbG9yOiAjZDFmNGZhO1xufVxuXG4vLyDjg5Xjg4Pjgr/jg7xcbiNmb290ZXIge1xuXHRjbGVhciAgICAgICAgICAgOiBib3RoO1xuXHR3aWR0aCAgICAgICAgICAgOiBhdXRvO1xuXHRtYXJnaW4gICAgICAgICAgOiAwO1xuXHRwYWRkaW5nICAgICAgICAgOiA1cHggMTVweCAxcHg7XG5cdGJhY2tncm91bmQtY29sb3I6ICMyZjI3NjE7XG5cdGNvbG9yICAgICAgICAgICA6ICNmZmZmZmY7XG5cdHRleHQtYWxpZ24gICAgICA6IHJpZ2h0O1xuXG5cdGEge1xuXHRcdHBhZGRpbmc6IDJweDtcblx0XHRjb2xvciAgOiAjZmZmZmZmO1xuXHR9XG59XG5cbiNjb250ZW50IHtcblx0bWFyZ2luOiAxMHB4IDI2cHg7XG59XG5cbiNvdXRwdXQge1xuXHRpbWcge1xuXHRcdHdpZHRoOiA0MHB4O1xuXHRcdGhlaWdodDogNDBweDtcblx0fVxufVxuXG4uY2F1dGlvbiB7XG5cdG1hcmdpbi10b3AgICAgIDogMTBweDtcblx0Y29sb3IgICAgICAgICAgOiAjN2MwNjFhO1xuXHRmb250LXNpemUgICAgICA6IDgyJTtcblx0dGV4dC1hbGlnbiAgICAgOiByaWdodDtcblx0dGV4dC1kZWNvcmF0aW9uOiB1bmRlcmxpbmU7XG59XG5cbi8vIOODhuOCreOCueODiOOBruiqv+aVtCBzbWFsbCwgYmlnIOOBquOBqVxuQGltcG9ydCBcIi4vaF90aXRsZS5zY3NzXCI7XG5AaW1wb3J0IFwiLi90ZXh0X2RlY29yYXRpb24uc2Nzc1wiO1xuXG4vLyDoibLjga7oqK3lrppcbkBpbXBvcnQgXCIuL2NvbG9ycy5zY3NzXCI7XG5cblxuI2Ryb3Bfem9uZSB7XG5cdHBhZGRpbmc6IDI1cHg7XG5cdGJvcmRlcjogMnB4IGRhc2hlZCAjYmJiO1xuXHRib3JkZXItcmFkaXVzOiA1cHg7XG5cdHRleHQtYWxpZ246IGNlbnRlcjtcblx0Zm9udDogMjBwdCBib2xkICdWb2xsa29ybic7XG5cdGNvbG9yOiAjYmJiO1xufVxuXG4jZHJvcF96b25lX3N1YiB7XG5cdHBhZGRpbmc6IDI1cHg7XG5cdGJvcmRlcjogMnB4IGRhc2hlZCAjYmJiO1xuXHRib3JkZXItcmFkaXVzOiA1cHg7XG5cdHRleHQtYWxpZ246IGNlbnRlcjtcblx0Zm9udDogMjBwdCBib2xkICdWb2xsa29ybic7XG5cdGNvbG9yOiAjYmJiO1xufVxuIiwiaDEsIGgyLCBoMywgaDQge1xuXHRtYXJnaW4gICAgICAgIDogMjVweCAwO1xuXHRwYWRkaW5nICAgICAgIDogMCAyNnB4O1xuXHRjb2xvciAgICAgICAgIDogI2ZmNmQxYjtcblx0bGV0dGVyLXNwYWNpbmc6IDAuMDhlbTtcblx0Zm9udC13ZWlnaHQgICA6IGJvbGQ7XG59XG5cbmgxIHtcblx0Zm9udC1zaXplICAgIDogMjIwJTtcblx0Ym9yZGVyLWJvdHRvbTogZG90dGVkIDZweDtcbn1cblxuaDIge1xuXHRmb250LXNpemUgICAgOiAxNTAlO1xuXHRib3JkZXItYm90dG9tOiBkb3R0ZWQgNHB4O1xufVxuXG5oMyB7XG5cdGZvbnQtc2l6ZSAgICA6IDEyMCU7XG5cdGJvcmRlci1ib3R0b206IGRvdWJsZSAycHg7XG59XG5cbmg0IHtcblx0Zm9udC1zaXplICAgIDogMTA1JTtcblx0Ym9yZGVyLWJvdHRvbTogc29saWQgMXB4O1xufVxuIiwiLyotLS0tLSDku6XkuIvjgIHjg4bjgq3jgrnjg4jjga7lvq7lpInmm7TnlKggLS0tLS0qL1xuLnNtYWxsIHtcblx0Zm9udC1zaXplOiA4NSU7XG59XG4ubW9yZXNtYWxsIHtcblx0Zm9udC1zaXplOiA2MCU7XG59XG4uYmlnIHtcblx0Zm9udC1zaXplOiAxMjAlO1xufVxuLm1vcmViaWcge1xuXHRmb250LXNpemU6IDE1MCU7XG59XG4uYiB7XG5cdGZvbnQtd2VpZ2h0OiBib2xkO1xufVxuLnUge1xuXHR0ZXh0LWRlY29yYXRpb246IHVuZGVybGluZTtcbn1cbi50b3Jpa2VzaSB7XG5cdHRleHQtZGVjb3JhdGlvbjogbGluZS10aHJvdWdoO1xufVxuIiwiLyotLS0tLSDku6XkuIvjgIHmloflrZfjgqvjg6njg7zmjIflrprnlKjjga5DU1MgLS0tLS0qL1xuLnJlZCB7XG5cdGNvbG9yOiAjZmYwMDAwO1xufVxuLm5hdnkge1xuXHRjb2xvcjogIzE5MTk3MDtcbn1cbi5vcmFuZ2Uge1xuXHRjb2xvcjogI2ZmNDUwMDtcbn1cbi5ncmVlbiB7XG5cdGNvbG9yOiAjMzk5MDAzO1xufVxuIl19 */
